<h1>Homes#show</h1>
<p>Find me in app/views/homes/show.html.erb</p>


<%= link_to "Log in", new_session_path, class: "btn btn-primary btn-lg active" %>
<%= link_to "Create New Profile", new_user_path, class: "btn btn-primary btn-lg active" %>




<div id="home_left_image">
	<img src="/assets/baby_chicken.jpg">
</div>

<div id="home_right_image">
	<img src="/assets/single_chicken.jpg">
</div>